[submodule "back-end"]
	path = back-end
	url = git@github.com:DavidMiserak/poopyfeed-be.git
[submodule "front-end"]
	path = front-end
	url = git@github.com:DavidMiserak/poopyfeed-fe.git
[submodule "android"]
	path = android
	url = git@github.com:DavidMiserak/poopyfeed-android.git
